.section { padding-top: 30px; padding-bottom: 100px; max-width: 1150px; margin: 0 auto; display: flex; gap: 80px; } 

/******* group-left *******/
.group-left { width: calc( 70% - 5px) } 


/* section01- visual */
.group-left .sc-visual { } 

.group-left .sc-visual .swiper-slide { position: relative; padding: 0 20px; } 
.sc-visual .swiper-slide img { } 
.sc-visual .pagination-wrap { display: flex; align-items: center; position: absolute; bottom: 40px; right: 40px; z-index: 1; height: 26px; letter-spacing: -0.025em; border-radius: 26px; backdrop-filter: blur(15px) brightness(80%); padding: 0px 20px 0 15px; } 
.sc-visual .pagination { color: #fff; } 
.sc-visual .btn-eventmore { } 
.sc-visual .btn-wrap { position: absolute; top: 50%; transform: translateY(-50%); } 
.sc-visual .btn-next { right: 2px; } 



/* section02- adress */

.group-left .sc-adress .addr-wrap { display: flex; justify-content: space-between; } 
.sc-adress .addr-wrap .addr-inner { display: flex; } 
.sc-adress .addr-inner .addr-box { display: flex; align-items: center; margin-right: 15px; gap: 5px; } 
.sc-adress .addr-box i { } 
.sc-adress .addr-box span { color: #000; font-weight: 600; } 
.sc-adress .btn-change { border-radius: 20px; height: 24px; padding: 0 10px; background-color: #fff; border: 1px solid #D6DCE1; } 
.sc-adress .btn-change span { font-size: 12px; line-height: 16px; letter-spacing: -0.025em; color: #000; } 
.sc-adress .tab-wrap { margin-top: 20px; display: flex; } 
.sc-adress .tab-wrap .tab-left { width: 80px; } 
.sc-adress .tab-left .tab-box { border: 1px solid #DDE0E3; border-radius: 4px; display: flex; flex-direction: column; } 
.sc-adress .tab-box .tab-item { height: 74px; display: flex; justify-content: center; align-items: center; } 
.sc-adress .tab-box .tab-item.on { background: #00A5B9; } 
.sc-adress .tab-box .tab-item.on span { color: #fff; font-weight: 600; } 
.sc-adress .tab-box .tab-item.on path { stroke: #fff; } 
.sc-adress .tab-item a { align-items: center; flex-direction: column; display: flex; width: 100%; height: 100%; justify-content: center; } 
.sc-adress .tab-item i { width: 24px; height: 24px; display: block; } 
.sc-adress .tab-item span { margin-top: 4px; display: block; color: #666; font-size: 14px; line-height: 18px; letter-spacing: -0.025em; } 
.sc-adress .tab-left .btn-search { background-color: #fff; border: 1px solid #DDE0E3; width: 100%; border-radius: 4px; margin-top: 5px; } 
.sc-adress .btn-search span { display: block; padding: 4px; font-weight: 500; font-size: 13px; line-height: 18px; letter-spacing: -0.025em; color: #000; } 
.sc-adress .tab-right { width: 100%; margin-left: 40px; } 
.sc-adress .tab-right.swiper { overflow: initial; } 
.sc-adress .tab-right .swiper-wrapper { overflow: hidden; width: calc(100% - 120px); } 
.sc-adress .tab-right .swiper-slide { width: 180px; } 
.sc-adress .thumb-box { background-color: #F5F6F8; } 
.sc-adress .thumb-box img { border-radius: 4px; width: 100%; } 
.sc-adress .thumb-box .badge-wrap { position: absolute; top: 10px; right: 10px; display: flex; flex-direction: column; align-items: center; } 
.sc-adress .badge-wrap i { } 
.sc-adress .badge-wrap span { font-weight: 600; font-size: 13px; margin-top: 3px; } 
.sc-adress .info-wrap { } 
.sc-adress .info-wrap .badge-box { display: flex; margin-top: 12px; } 
.sc-adress .badge-box .badge-distance { margin-right: 2px; padding-right: 6px; font-weight: 500; color: #000; } 
.sc-adress .badge-box .badge-state { border: 1px solid rgba(28, 172, 104, 0.1); background-color: rgba(28, 172, 104, 0.1); border-radius: 9px; display: block; padding: 1px 6px 2px; height: 17px; } 
.sc-adress .badge-state span { display: flex; font-size: 10px; line-height: 13px; letter-spacing: -0.025em; color: #1CAC68; font-weight: 600; } 
.sc-adress .info-wrap .info-title { margin-top: 6px; font-weight: 600; color: #000; } 
.sc-adress .btn-wrap { position: absolute; top: 0px; height: 100%; display: flex; align-items: center; } 
.sc-adress .btn-prev { left: -20px; top: 50px; } 

.sc-adress .next-box { right: 100px; } 
.sc-adress .btn-next { top: 50px; } 



/* section03- content */
.group-left .sc-cont { padding: 40px 20px 0; position: relative; overflow: hidden; } 

.sc-cont .img-wrap { position: absolute; top: 0; } 
/* .sc-cont .img-wrap img { position: absolute; top: 0; right: 0; z-index: -1; object-fit: cover; height: 100%; width: 100%; } */
.group-left .sc-cont .swiper { overflow: initial; } 
.sc-cont .swiper-slide { } 
.sc-cont .swiper-slide .link-prod { } 
.sc-cont .link-prod .thumb-box { padding-bottom: 100%; } 

.sc-cont .thumb-box img { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); } 
.sc-cont .link-prod .prod-info { margin-top: 12px; display: flex; flex-direction: column; } 
.prod-info .prod-item.brand { font-size: 13px; line-height: 18px; letter-spacing: -0.025em; color: #999; } 
.prod-info .prod-item { color: #000; font-weight: 500; } 
.prod-info .prod-item+.prod-item { margin-top: 4px; } 
.sc-cont .btn-wrap { position: absolute; top: 0; height: 100%; } 
.sc-cont .btn-wrap .prev-box,
.sc-cont .btn-wrap .next-box { position: absolute; } 

.sc-cont .btn-wrap .prev-box { left: -20px; } 
.sc-cont .btn-wrap .next-box { right: 0; } 
.sc-cont .btn-next, .sc-cont .btn-prev { top: 65px; } 
.sc-cont .btn-next { right: -20px; } 


/* section04- benefit */
.group-left .sc-benefit { } 
.group-left .sc-benefit .title-wrap { display: flex; align-items: center; } 
.sc-benefit .link-prod { width: 280px; display: block;border: 1px solid #EFF1F3; border-radius: 4px; background: #fff; } 
.sc-benefit .thumb-box { position: relative; height: 192px; } 
.sc-benefit .thumb-box::before { position: absolute; top: 0; right: 0; content: ""; display: inline-block; width: 90px; height: 100%; background-color: rgba(170, 148, 129, 0.1); } 
.sc-benefit .thumb-box img { position: absolute; top: 50%; right: 20px; transform: translateY(-50%); width: 120px; } 
.coupon-box { position: absolute; top: 50%; transform: translateY(-50%); left: 20px; } 
.name-box { } 
.price-box { } 
.price-box .ori { } 
.price-box .sale { } 
.price-box .curr { } 
.badge-box.pic { } 
.download-box { } 


/* section05- quickmenu */
.group-left .sc-quick { } 
.sc-quick .link-quick { } 
.sc-quick .link-quick .thumb-box { } 
.sc-quick .link-quick span { } 


/* section06- best */
.group-left .sc-best { } 
.sc-best .store-order { } 
.sc-best .list-wrap { } 
.sc-best .list-wrap .list-item { } 
.sc-best .list-wrap .list-item.on { } 
.sc-best .list-item a { } 
.sc-best .meun-wrap { } 
.sc-best .meun-wrap .thumb-box { } 
.sc-best .thumb-box .thumb-img { } 
.sc-best .thumb-img img { } 
.sc-best .badge-wrap { } 
.sc-best .badge-wrap span { } 
.sc-best .prod-info { } 
.sc-best .prod-info .prod-box { } 
.sc-best .prod-info .prod-box.price { } 
.sc-best .more-wrap { } 
.sc-best .more-wrap .link-more { } 
.sc-best .link-more span { } 
.sc-best .link-more em { } 


/* section07- md */
.group-left .sc-md { } 

.title-box .link-more { } 

.sc-md .name-box { } 
.sc-md .price-box { } 
.sc-md .price-box .ori { } 
.sc-md .price-box .sale { } 
.sc-md .price-box .curr { } 


/* section08- event */
.group-left .sc-event { } 
.sc-event .info-box { } 
.sc-event .info-box .period { } 


/* section09- youtube */
.group-left .sc-youtube { } 
.sc-youtube .link-youtube { } 



/****** group-right ******/
.group-right { width: 30%; position: relative; } 
.group-right::before { content: ''; height: 100%; width: 1px; background: #DDE0E3; position: absolute; left: -40px; top: -35px; } 

/* section01 - mileage */
.group-right .sc-mile { } 
.group-right .sc-mile .title-wrap { } 
.sc-mile .title-wrap .title-box { } 
.sc-mile .title-box .link-mile { } 
.sc-mile .mile-list { } 
.sc-mile .mile-list .mile-item { } 
.sc-mile .mile-item a { } 
.sc-mile .mile-item .brand-box { } 
.sc-mile .mile-item .brand-box.text { } 


/* section02 - mileage */
.group-right .sc-brand { } 
.group-right .sc-brand .title-wrap { } 
.sc-brand .title-wrap .title-box { } 
.sc-brand .title-box strong { } 
.sc-brand .brand-box { } 
.sc-brand .brand-box a { } 
.sc-brand .brand-box span { } 
